.formWork{
    
    margin: 50px 2em;
    text-align: center;
    
    
    
    

    .form__group{
        width: 100%;
        display: grid;
        gap: 3em;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        


        .form__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            border: 2px solid #999;
            width: 100%;
            padding: 15px 20px;
            text-align: center;
            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 14px;
            font-size: 0.875rem;

            .item__title{
                margin-bottom: 5px;
                font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #999;
                
            }
        }
    
    }
    
    // .form__texarea{
    //     margin-top:3em ;
    //     width: 100%;
    //     display: grid;
    //     gap: 2em;
    //     grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    //     min-height: 120px;
    // text-align: left;
    // resize: vertical;
        

    // }
    .col-lg-12 {
        width: 100%;
        margin-top: 2em;
        min-height: 1px;
        
        
        textarea {
            border: 2px solid #999;
            width: 100%;
            padding: 15px 20px;
            text-align: center;
            font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            font-size: 14px;
            font-size: 0.875rem;
        }


    }

}